// Application-level settings for the Runner target.

// The application's name. By default this is also the title of the Flutter window.
PRODUCT_NAME = LabsVpn

// The application's bundle identifier
PRODUCT_BUNDLE_IDENTIFIER = com.labsvpn.app

// The copyright displayed in application information
PRODUCT_COPYRIGHT = Copyright © 2024 LabsVpn. All rights reserved.
